@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Rallentiamo l'animazione aumentando la durata */
#home h1.visible {
  animation: fadeInLeft 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  visibility: visible;
}

#home p.visible {
  animation: fadeInUp 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.5s; /* Ritardo più lungo */
  visibility: visible;
}

#home button.visible {
  animation: fadeInRight 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 1s; /* Ritardo ancora maggiore */
  visibility: visible;
}
