@media screen and (min-width: 820px) and (max-width: 1480px) {
  body {
    overflow-x: hidden;
  }
  header h1 {
    font-size: 4.5rem;
  }

  header p {
    font-size: 1rem;
    padding: 0;
    margin-left: 210px;
  }

  header button {
    padding: 0;
    margin-left: 210px;
  }

  .up h3 {
    margin-top: 105px;
  }

  .navzero {
    margin-left: 60px;
  }

  .navone {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  .navone li {
    margin-left: 15px;
  }

  .navtwo {
    gap: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-left: 60px;
    margin-top: 110px;
    color: #666;
    font-family: "Montserrat", serif;
  }

  .left {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }

  .left h1 {
    font-size: 25px;
    margin-top: 130px;
    margin-left: 30px;
  }

  .left p {
    margin-left: 30px;
    font-size: 12px;
    margin-top: 20px;
  }

  .stats-container {
    gap: 30px;
    margin-top: 80px;
    margin-left: 30px;
  }

  .stat-box {
    margin-right: 15px;
  }

  .stat-number {
    font-size: 38px;
  }

  .stat-label {
    font-size: 10px;
  }

  .line {
    width: 60px;
    height: 1px;
    margin-left: 100px;
  }

  .calendar {
    width: 350px;
    height: 450px;
    display: flex;
    margin-top: 60px;
    margin-left: 180px;
    padding-right: 0px;
  }

  .writelineone h2 {
    margin-left: 30px;
  }

  .navthree p {
    margin-left: 270px;
  }

  .projectimg {
    margin: 0;
    padding: 0;
  }

  .rightone {
    position: relative;
    width: 400px;
    height: 250px;
  }
  .marmo {
    width: 95%;
    height: 100%;
    display: block;
    margin-top: 75px;
  }

  .lavoratori {
    top: 65%;
    left: 60%;
    width: 70%;
    height: 75%;
  }

  .leftone {
    width: 35%;
    margin-left: 100px;
  }

  .left-section {
    width: 100%;
    height: 25%;
  }

  .leftone h1 {
    font-size: 12px;
    margin: 10px 0;
  }

  .leftone p {
    font-size: 12px;
    color: #666;
    line-height: 1.2;
  }

  .right-section {
    line-height: 30px;
    width: 20%;
    margin-top: 110px;
    font-size: 18px;
    margin-left: 50px;
  }

  .writeline {
    margin: 0;
    padding: 0;
  }

  .linetre,
  .linetwo {
    display: none;
  }

  .navfour h2 {
    margin-left: 280px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .description {
    margin: 0px;
  }

  .contenitore {
    margin-left: 35px;
  }

  .feedback-card {
    margin-left: 15px;
    padding: 15px;
    width: 180px;
    height: 300px;
  }

  .customer-photo {
    width: 95%;
    height: 50%;
    margin-bottom: 10px;
  }

  .down h2 {
    margin-top: 120px;
    font-size: 20px;
  }

  .text {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    color: #666;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  .down p {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .loghi {
    margin-left: 70px;
  }

  .loghi img {
    width: 120px;
    margin-right: 20px;
  }
}
