body {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .headerimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header h1 {
  color: white;
  padding-left: 10px;
  font-size: 6rem;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.dot {
  color: #ffb900;
  font-family: Georgia;
}

header p {
  color: white;
  padding-top: 0;
  font-size: 1.2rem;
  padding-left: 520px;
  line-height: 30px;
  margin-top: 40px;
}

header button {
  font-weight: bold;
  width: 160px;
  height: 50px;
  border-radius: 2px;
  font-size: 0.8rem;
  background-color: #ffb900;
  border: none;
  color: black;
  margin-left: 520px;
  margin-top: 50px;
  cursor: pointer;
}

header button:hover {
  background-color: #ffb900;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  header .headerimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  header h1 {
    color: white;
    padding-left: 10px;
    padding-top: 100px;
    font-size: 3rem;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  header p {
    color: white;
    padding-top: 0;
    font-size: 0.8rem;
    padding-left: 50px;
    line-height: 30px;
    margin-top: 40px;
  }

  header button {
    width: 110px;
    height: 30px;
    border-radius: 2px;
    font-size: 0.6rem;
    margin-left: 130px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1500px) {
  header h1 {
    color: white;
    padding-left: 10px;
    padding-top: 100px;
    font-size: 6rem;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  header p {
    color: white;
    padding-top: 0;
    font-size: 1.3rem;
    padding-left: 150px;
    line-height: 30px;
    margin-top: 40px;
  }

  header button {
    width: 160px;
    height: 60px;
    border-radius: 2px;
    font-size: 1rem;
    margin-left: 150px;
    margin-top: 50px;
  }
}

.writeline,
.writelineone,
.navfour {
  display: flex;
}

.line {
  margin-top: 117px;
  margin-right: 40px;
  margin-left: 55px;
  width: 100px;
  height: 1px;
  background-color: #666;
}

.lineone {
  margin-top: 18px;
  margin-left: 40px;
  width: 100px;
  height: 1px;
  background-color: #666;
}

.linetre {
  margin-top: 190px;
  margin-left: 840px;
  margin-right: 40px;
  width: 100px;
  height: 1px;
  background-color: #666a;
}

/* Main Section Up Part */
.navzero {
  display: flex;
  margin-left: 30px;
}

.up {
  display: flex;
  flex-direction: row;
}

.navone {
  display: flex;
  margin-left: 300px;
}
.logoimg {
  width: 40px;
}

section h3 {
  margin-left: 10px;
  font-size: 20px;
}
.lower {
  font-family: Georgia;
  font-size: 10px;
  color: #ffb900;
}
.navone li {
  margin-left: 20px;
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
  color: rgb(78, 78, 78);
}

.navtwo {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-left: 240px;
  margin-top: 30px;
  color: #666;
}

.language-dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 120px;
  z-index: 1000;
}

.dropdown li {
  padding: 8px 15px;
  white-space: nowrap;
  transition: background 0.3s;
}

.dropdown li:hover {
  background: #f5f5f5;
}

.language-dropdown:hover .dropdown {
  display: block;
}

.center {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 80px;
}

.left h1 {
  font-size: 31px;
}

.left p {
  color: rgb(78, 78, 78);
  line-height: 20px;
}

.yellow {
  color: #ffb900;
}
.right {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.right h2 {
  margin-right: 210px;
  display: flex;
  margin-top: 110px;
  font-size: 15px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 50px;
  font-family: Arial;
  margin-top: 90px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.stat-number {
  font-family: "Quiksand", serif;
  font-size: 40px;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
}

.stat-label {
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
}

/* Immagine con numero*/

.calendar {
  width: 400px;
  height: 500px;
  display: flex;
  margin-top: 50px;
  margin-left: 150px;
}

.frame {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/img/Sfondo2.jpg) no-repeat center;
  background-size: cover;
}

.frame::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.9);
}

.content {
  position: absolute;
  text-align: center;
}

.number {
  font-size: 120px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  mix-blend-mode: multiply;
}

.text {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
}

/*PART CENTERTWO*/

.navthree {
  display: flex;
}

.navthree h2 {
  display: flex;
  margin-left: 290px;
  margin-top: 10px;
  font-size: 15px;
}

.navthree p {
  margin-top: 10px;
  margin-left: 510px;
  color: #333;
}

.projectimg {
  display: flex;
}
.rightone {
  position: relative;
  width: 520px;
  height: 380px;
}
.marmo {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 50px;
  margin-left: 30px;
}

.lavoratori {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-30%, -30%);
  width: 70%;
  border: 5px solid #ffb900;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.leftone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  margin-left: 240px;
}

.left-section {
  width: 60%;
  height: 35%;
}

.category {
  color: #f5b400;
  font-weight: bold;
  text-transform: uppercase;
}

.leftone h1 {
  font-size: 32px;
  margin: 10px 0;
}

.leftone p {
  color: #666;
  line-height: 1.2;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.right-section {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
  color: #bbb;
}

.right-section span {
  margin: 5px 0;
}

.right-section span:first-child {
  color: #f5b400;
}

.navfour h2 {
  display: flex;
  font-size: 15px;
  margin-top: 180px;
  margin-right: 100px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.description p {
  margin-right: 10px;
  color: #666;
}

/*DOWN PART */

.down {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 500px;
  background-color: #cbc4c4;
}

.down h2 {
  font-size: 30px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.text {
  color: #666;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: small;
}
.down p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loghi {
  display: flex;
  justify-content: space-around;
  filter: grayscale(100%);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 280px;
  margin-right: 280px;
}

.loghi img {
  width: 150px;
  margin-right: 10px;
}

/* FOOTER */

footer {
  height: 220px;
  background-image: url(https://png.pngtree.com/background/20230527/original/pngtree-3d-black-cubes-on-dark-background-picture-image_2761056.jpg);
  display: flex;
  justify-content: space-around;
}

.foterlogo {
  display: flex;
}

.logofooter {
  width: 50px;
  height: 40px;
  margin-top: 90px;
  margin-left: 30px;
  background-color: white;
}

.foterlogo h3 {
  margin-top: 90px;
  margin-left: 10px;
}

.reservation {
  margin-top: 50px;
}

.logofooter {
  background-color: white;
  color: white;
  width: 50px;
}

footer p {
  line-height: 8px;
}
