@media screen and (min-width: 1000px) {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  header {
    position: relative;
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header p {
    padding-left: 710px;
  }

  header button {
    margin-left: 710px;
  }

  .navone {
    margin-left: 470px;
  }

  .navtwo {
    margin-left: 400px;
  }

  .center {
    margin-left: 220px;
  }
}
