@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .headerimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header h1 {
  color: white;
  padding-left: 32px;
  font-size: 5.5rem;
  margin: 0 auto;
  font-family: "Montserrat", serif;
}

.dot {
  color: #ffb900;
  font-family: Georgia;
}

header p {
  color: white;
  padding-top: 0;
  font-size: 1.2rem;
  padding-left: 520px;
  line-height: 30px;
  margin-top: 40px;
  font-family: "Montserrat", serif;
}

header button {
  width: 160px;
  height: 50px;
  border-radius: 2px;
  font-size: 0.8rem;
  background-color: #ffb900;
  border: none;
  color: black;
  margin-left: 520px;
  margin-top: 50px;
  cursor: pointer;
  font-family: "Montserrat", serif;
}

header button:hover {
  font-weight: bold;
  color: white;
  background-color: #ffb900;
  transform: scale(1.1);
  box-shadow: 0 8px 12px white;
  font-family: "Montserrat", serif;
}

.writeline,
.writelineone,
.navfour {
  display: flex;
}

.line {
  margin-top: 117px;
  margin-right: 40px;
  margin-left: 55px;
  width: 100px;
  height: 1px;
  background-color: #666;
}

.lineone {
  margin-top: 32px;
  margin-left: 40px;
  width: 100px;
  height: 1px;
  background-color: #666;
}

.linetre {
  margin-top: 190px;
  margin-left: 800px;
  margin-right: 40px;
  width: 100px;
  height: 1px;
  background-color: #666a;
}

/* Main Section Up Part */
.navzero {
  display: flex;
  margin-left: 30px;
  justify-content: space-around;
}

.up {
  display: flex;
  flex-direction: row;
}

.navone {
  display: flex;
  margin-left: 265px;
}
.logoimg {
  width: 35px;
}

section h3 {
  margin-left: 10px;
  font-size: 18px;
  font-family: "Montserrat", serif;
}
.lower {
  font-family: Georgia;
  font-size: 12px;
  color: #ffb900;
  font-family: "Montserrat", serif;
}
.navone li {
  margin-left: 20px;
  list-style: none;
  text-decoration: none;
  margin-top: 18px;
  color: rgb(78, 78, 78);
  font-family: "Montserrat", serif;
  cursor: pointer;
}

.navone li :hover {
  color: black;
}

.navtwo {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-left: 230px;
  margin-top: 36px;
  color: #666;
  font-family: "Montserrat", serif;
}

.language-dropdown {
  position: relative;
}

.dropdown {
  font-family: "Montserrat", serif;
  position: absolute;
  top: 100%;
  background: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 120px;
  z-index: 1000;
}

.dropdown li {
  font-family: "Montserrat", serif;
  padding: 8px 15px;
  white-space: nowrap;
  transition: background 0.3s;
}

.dropdown li:hover {
  background: #f5f5f5;
}

.language-dropdown:hover .dropdown {
  display: block;
}

.center {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 80px;
}

.left h1 {
  font-size: 31px;
  font-family: "Montserrat", serif;
}

.left p {
  color: rgb(78, 78, 78);
  line-height: 20px;
  font-family: "Montserrat", serif;
}

.yellow {
  color: #ffb900;
  font-family: "Montserrat", serif;
}
.right {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  font-family: "Montserrat", serif;
}

.right h2 {
  margin-right: 210px;
  display: flex;
  margin-top: 110px;
  font-size: 14px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: start;
  gap: 50px;
  font-family: Arial;
  margin-top: 90px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 30px;
}

.stat-number {
  font-family: "Montserrat", serif;
  font-size: 42px;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
}

.stat-label {
  display: flex;
  justify-content: start;
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
}

/* Immagine con numero*/

.calendar {
  width: 400px;
  height: 500px;
  display: flex;
  margin-top: 50px;
  margin-left: 150px;
}

.frame {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/img/joakim-honkasalo-gKMxcHB3U3E-unsplash.jpg)
    no-repeat center;
  background-size: cover;
}

.frame::before {
  content: "";
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.9);
}

.content {
  margin-top: 35px;
  margin-right: 40px;
  margin-left: 10px;
  position: absolute;
  text-align: start;
}

.number {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 80px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.textcalendar {
  font-family: "Montserrat", serif;
  font-size: small;
  margin-left: 10px;
  color: #666;
}

/*PART CENTERTWO*/

.navthree {
  display: flex;
}

.navthree h2 {
  display: flex;
  margin-left: 300px;
  margin-top: 23px;
  font-size: 15px;
  font-family: "Montserrat", serif;
}

.navthree p {
  font-family: "Montserrat", serif;
  margin-left: 450px;
  color: #333;
}

.projectimg {
  display: flex;
}
.rightone {
  position: relative;
  width: 550px;
  height: 400px;
}
.marmo {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 94.5px;
}

.lavoratori {
  position: absolute;
  top: 56%;
  left: 75%;
  transform: translate(-30%, -30%);
  width: 70%;
  border: 5px solid #ffb900;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.lavoratori:hover {
  width: 75%;
}

.leftone {
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-left: 240px;
}

.left-section {
  width: 67%;
  height: 32%;
}

.category {
  color: #f5b400;
  font-weight: bold;
  text-transform: uppercase;
}

.leftone h1 {
  font-size: 30px;
  margin: 10px 0;
}

.leftone p {
  color: #666;
  line-height: 1.2;
}

.project-link {
  font-family: "Montserrat", serif;
  display: inline-block;
  margin-top: 5px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.right-section {
  font-family: "Montserrat", serif;
  line-height: 50px;
  width: 20%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
  color: #bbb;
}

.right-section span {
  margin: 5px 0;
}

.right-section span:first-child {
  color: #f5b400;
}

.navfour h2 {
  display: flex;
  font-size: 15px;
  margin-top: 180px;
  margin-right: 70px;
  font-family: "Montserrat", serif;
}

.description {
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 290px;
  margin-right: 290px;
}

.description p {
  font-family: "Montserrat", serif;
  line-height: 30px;
  margin-right: 10px;
  color: #666;
}

.contenitore {
  margin-right: 50px;
}

.feedback-section {
  text-align: center;
  padding: 50px 20px;
}

.writelinetwo {
  display: flex;
  font-family: "Montserrat", serif;
  font-size: 10px;
  margin-top: 60px;
  margin-left: 270px;
}

.linetwo {
  margin-top: 20px;
  margin-left: 35px;
  width: 100px;
  height: 1px;
  background-color: #666;
}
.feedback-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 70px;
}

.feedback-card {
  background: white;
  padding: 20px;
  width: 230px;
  height: 330px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid #f5b400;
}

.feedback-card:hover {
  background: white;
  padding: 20px;
  width: 250px;
  height: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid #f5b400;
}

.customer-photo {
  width: 95%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 15px;
}

.customer-name {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 8px;
  color: black;
  display: flex;
  justify-content: start;
}

.customer-comment {
  font-family: "Montserrat", serif;
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: start;
}

/*DOWN PART */

.down {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 500px;
  background-image: url(assets/img/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg);
}

.down h2 {
  font-family: "Montserrat", serif;
  font-size: 30px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.yellowone {
  font-family: "Montserrat", serif;
  color: #f5b400;
  margin-right: 20px;
}
.text {
  font-family: "Montserrat", serif;
  line-height: 30px;
  color: #666;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
}
.down p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loghi {
  display: flex;
  justify-content: space-around;
  filter: grayscale(100%);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 280px;
  margin-right: 280px;
}

.loghi img {
  width: 150px;
  margin-right: 10px;
}

.loghi img:hover {
  width: 160px;
}

/* FOOTER */

footer {
  height: 220px;
  background-image: url(assets/img/maxim-berg-RP1ny6ItgAM-unsplash.jpg);
  display: flex;
  justify-content: space-around;
}

.foterlogo {
  display: flex;
}

.logofooter {
  width: 50px;
  height: 40px;
  margin-top: 63px;
  margin-left: 30px;
  background-color: white;
}

.foterlogo h3 {
  margin-top: 60px;
  margin-left: 10px;
}

.reservation {
  font-family: "Montserrat", serif;
  margin-top: 50px;
}

.logofooter {
  background-color: white;
  color: white;
  width: 50px;
}

footer p {
  line-height: 8px;
  color: white;
}

.iconsocial svg {
  margin-top: 55px;
  fill: white;
}
.iconsocial svg:hover {
  margin-top: 55px;
  fill: #f5b400;
}
