@media screen and (min-width: 1800px) {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  header {
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header .headerimg {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  header p {
    margin-left: 200px;
  }

  header button {
    margin-left: 720px;
  }

  .navone {
    margin-left: 470px;
  }
  .writeline h2 {
    margin-right: 500px;
  }
  .navtwo {
    margin-left: 370px;
  }

  .center {
    margin-left: 220px;
  }

  .writeline {
    display: none;
  }

  .calendar {
    margin-top: 210px;
  }

  .navthree h2 {
    margin-left: 515px;
  }

  .rightone {
    position: relative;
    width: 660px;
    height: 400px;
  }
  .marmo {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 94.5px;
  }

  .lavoratori {
    position: absolute;
    top: 63%;
    left: 75%;
    transform: translate(-30%, -30%);
    width: 70%;
    border: 5px solid #ffb900;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .leftone {
    margin-top: 30px;
  }

  .writeline {
    margin-left: 200px;
  }

  .description {
    margin-left: 480px;
    margin-right: 450px;
    margin-top: 200px;
  }

  .writelinetwo {
    margin-left: 450px;
  }
}
